In [1]:
import pandas as pd

In [2]:
data = {
    'col1' : ['1','2','3','teks'],
    'col2' : ['1','2','3','4']
}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [3]:
df.dtypes

col1    object
col2    object
dtype: object

In [7]:
df_x = df.astype({'col2' : 'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [8]:
df_x.dtypes

col1    object
col2     int64
dtype: object

In [9]:
df_y = df.astype({'col1' : 'int'})
df_y

ValueError: invalid literal for int() with base 10: 'teks'

In [10]:
df.apply(pd.to_numeric, errors = 'coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

In [11]:
df.dtypes

col1    object
col2    object
dtype: object