In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.1
1.18.1

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
# df.add_prefix('kolom_')
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        3        7        6        7        2
1        8        7        6        7        4
2        8        2        6        6        9
3        7        7        3        2        2
4        6        9        2        3        6