In [1]:
import pandas as pd

In [4]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head() # tampilkan 5 data

        index         A         B         C         D
0  RoOzQJhSWM  1.142552 -1.753076 -0.439738  0.418917
1  TuYhKJmxIh       NaN  1.167311       NaN  0.011083
2  KV5YS1JIjU  1.220100  1.102166 -0.141936       NaN
3  JwdTegJeTm  0.381409  1.302171  2.243797  3.002004
4  IHOy7BZh2e  0.969533 -0.864470 -0.107030 -1.658763

In [5]:
df = df.rename(columns={'index' : 'Z'}) # rename column name
df.head()

            Z         A         B         C         D
0  RoOzQJhSWM  1.142552 -1.753076 -0.439738  0.418917
1  TuYhKJmxIh       NaN  1.167311       NaN  0.011083
2  KV5YS1JIjU  1.220100  1.102166 -0.141936       NaN
3  JwdTegJeTm  0.381409  1.302171  2.243797  3.002004
4  IHOy7BZh2e  0.969533 -0.864470 -0.107030 -1.658763

In [6]:
df_backup = df.copy(deep=True) # copy ke dalama df_backup

In [7]:
# drop setiap kolom yg mengandung missing values
# axiz => drop kolom manapun yg mengandung missing value 
df = df.dropna(axis='columns')
df.head()

            Z
0  RoOzQJhSWM
1  TuYhKJmxIh
2  KV5YS1JIjU
3  JwdTegJeTm
4  IHOy7BZh2e

In [8]:
# drop baris yg mengandung missing value
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  RoOzQJhSWM  1.142552 -1.753076 -0.439738  0.418917
3  JwdTegJeTm  0.381409  1.302171  2.243797  3.002004
4  IHOy7BZh2e  0.969533 -0.864470 -0.107030 -1.658763
5  l6nMQ5zQu5  0.060773  1.753238 -0.134278 -0.381331
7  JJL5ne6x30  2.080262  1.287017  0.477214  0.933987

In [9]:
# persentase missing value setiap kolom
df = df_backup.copy(deep = True)
df.isna().mean()

Z    0.000000
A    0.100000
B    0.133333
C    0.100000
D    0.066667
dtype: float64

In [13]:
# setelah kita mengetahui persentase dari setiap kolom pada dataframe
# maka kita bisa minimbang2 / threshold kolom mana yg sebaiknya dihapus (toleransi)
treeshold = len(df) * 0.9 # persentase 90 persen
df = df.dropna(thresh=treeshold, axis='columns')
df.head()

            Z         A         C         D
0  RoOzQJhSWM  1.142552 -0.439738  0.418917
1  TuYhKJmxIh       NaN       NaN  0.011083
2  KV5YS1JIjU  1.220100 -0.141936       NaN
3  JwdTegJeTm  0.381409  2.243797  3.002004
4  IHOy7BZh2e  0.969533 -0.107030 -1.658763

In [14]:
# setelah kita mengetahui persentase dari setiap kolom pada dataframe
# maka kita bisa minimbang2 / threshold kolom mana yg sebaiknya dihapus (toleransi)
treeshold = len(df) * 0.9 # persentase 90 persen
df = df.dropna(thresh=treeshold, axis='rows')
df.head()

Empty DataFrame
Columns: [Z, A, C, D]
Index: []